<div class = "jumbotron mt .4">
    <h1 class = "display-4"> Geolocation App </h1>
    <p class = "lead">A position register's application (tracking-gps) in real time. </p>
    <hr class = "my-4"></hr>
    <p> For source information enter to the github below</p>
    <a href = "https://github.com/mnl359/geolocation-app" 
    class = "btn btn-primary btn">Geolocation application github</a>
</div>