<div class = "jumbotron mt .4">
    <h1 class = "display-4"> Geolocation App </h1>
    <p class = "lead">Aprendí a hacer algo en web</p>
    <hr class = "my-4"></hr>
    <p>Te quiero <3</p>
    <a href = "https://github.com/mnl359/geolocation-app" 
    class = "btn btn-primary btn">Geolocation application code</a>
</div>