<div class="row">
    <div class="cold-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                Account login
            </div>
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="from-group">
                        <input type="text" 
                        class = "form-control"
                        name = "email"
                        placeholder="Email"
                        autofocus>
                    </div>
                    <div class="from-group">
                        <input type="password" 
                        class = "form-control"
                        name = "password"
                        placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type = "submit"
                        class = "btn btn-primary">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>